/.vs

/DotMemoryExplorer.Core/bin
/DotMemoryExplorer.Core/obj

/DotMemoryExplorer.Gui/bin
/DotMemoryExplorer.Gui/obj

/DotMemoryExplorer.DebugeeWpf/bin
/DotMemoryExplorer.DebugeeWpf/obj

/DotMemoryExplorer.DebugeeConsole/bin
/DotMemoryExplorer.DebugeeConsole/obj

*.user
